<!-- <nav>
  <a href="#skills-section">Skills</a>
  <a href="#contact-section">Contact</a>
</nav> -->
<!-- <app-navbar></app-navbar> -->

<section class="home">
  <h2>Welcome to My Portfolio</h2>

  <section class="hero">
    <div class="hero-content">
      <h1 class="greeting">はじめまして、私は <span class="name">{{name}}</span> と申します。</h1>
      <p>{{ introduction }}</p>
      <!-- <p class="subtitle">Angular × Java を中心に活動する Web エンジニア</p> -->

      <!-- <div class="cta-buttons">
      <a routerLink="/skills" class="btn">スキルを見る</a>
      <a routerLink="/contact" class="btn secondary">お問い合わせ</a>
    </div> -->
    </div>
  </section>
</section>



<!-- <section id="skills-section">
  <h2>Skills</h2>
  <p>ここにスキルの説明を書く</p>
</section>

<section id="contact-section">
  <h2>Contact</h2>
  <p>ここに連絡先を書く</p>
</section> -->